html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #7B9FC0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c8c9cd;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#mainmenu {
    width: 15%;
    margin-left: 2%;
}

#progressbarBorder {
    width: 80%;
    justify-content: center;
}

#answers {
    width: 95%;
    height: 30%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.answer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E4EBF5;
    width: 40%;
    height: 30%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    font-size: 36px;
    border: 0px;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
    transition: .1s ease-in-out;
    color: #717e9c;
}

.answer:hover {
    box-shadow: inset .3rem .3rem .6rem #c8d0e7, inset -.2rem -.2rem .5rem #FFFFFF;
}

.answer:active {
    box-shadow: inset .6rem .6rem .6rem #c8d0e7, inset -.5rem -.5rem .5rem #FFFFFF;
}

.fruitIMG {
    border-radius: 10px;
    height: 300px;
    border: solid 0.1px #E4EBF5;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
}