html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #7B9FC0;
}
.leveltext{
    justify-content: center;
    font-size: 100%;
}
.leveltheme{
    justify-content: center;
    font-size: 100%;
    margin-left: 20%;
}
#welcome{
    font-size: 300%;
    height: 5%;
}
#gamemenu {
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.levels{
    width: 65%;
    height: 10%;
    display: flex;
    margin: 1%;
    background-color: #E4EBF5;
    justify-content: center;
    font-size: 250%;
    border-radius: 20px;
}